{% extends 'layouts/main.html' %} {% block title %}Edit Artist{% endblock %} {% block content %}
<div class="form-wrapper">
    <form class="form" method="post" action="/artists/{{artist.id}}/edit">
        <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em></h3>
        <div class="form-group">
            <label for="name">Name</label> {{ form.name(class_ = 'form-control', autofocus = true, value = artist.name) }}
        </div>
        <div class="form-group">
            <label>City & State</label>
            <div class="form-inline">
                <div class="form-group">
                    {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true, value = artist.city) }}
                </div>
                <div class="form-group">
                    <select class="form-control" id="state" name="state" placeholder="State" autofocus required>
                    <option value= {{artist.state}} >{{artist.state}}</option>
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="DC">DC</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NY">NY</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WY">WY</option>
                </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label> {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true, value = artist.phone) }}
        </div>
        <div class="form-group">
            <label for="genres">Genres</label>
            <small>Ctrl+Click to select multiple</small>
            <select class="form-control" id="genres" name="genres" placeholder="Genres, separated by commas" autofocus required multiple="multiple">
              {%for genre in genres%}
              <option value="{{genre.genres}}" {%for genre in genre.artist if (genre.id == artist.id) %} selected="selected" {%endfor%}>{{genre.genres}}</option>
              {%endfor%}
          </select>
        </div>
        <div class="form-group">
            <label for="facebook_link">Facebook Link</label> {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true, value = artist.facebook_link) }}
        </div>

        <div class="form-group">
            <label for="image_link">Image Link</label> {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true, value = artist.image_link) }}
        </div>

        <div class="form-group">
            <label for="website_link">Website Link</label> {{ form.website_link(class_ = 'form-control', placeholder='http://', autofocus = true, value = artist.website_link) }}
        </div>

        <div class="form-group">
            <label for="seeking_venue">Looking for Venues</label>
            <input id="venue_hunting" name="venue_hunting" placeholder="Venue" type="checkbox" autofocus {%if artist.venue_hunting %} checked {% endif %}>
        </div>

        <div class="form-group">
            <label for="seeking_description">Seeking Description</label> {{ form.seeking_description(class_ = 'form-control', autofocus = true, value = artist.venue_description) }}
        </div>

        <input type="submit" value="Edit Artist" class="btn btn-primary btn-lg btn-block">
    </form>
</div>
{% endblock %}